@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
html, body{
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#333;
    line-height: 28px;
    font-weight: 400;
}
/* Coomon css here */
a{
    color:#333;
    text-decoration: none;
    transition: 0.3s;
}

.bg {
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.bg:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    opacity: 0.75;
    z-index: -1;
}
/* top area css */
.top-area {
    background: #635cdb;
    padding: 10px 0;
}
.top-left a {
    color: #fff;
    margin-left: 16px;
    font-size: 14px;
}

.top-social {
    text-align: right;
}

.top-social a {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}

/* Header area css */
 

.navbar-brand {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-left: 15px;
}

.navbar-nav a:hover {
    color: #635cdb !important; /* deafult kisu k overwrite korte hoile !important use korte hoi*/
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#333;
    font-weight: 500;
}

/* Slider css */

 .slider-area, .sliders, .single-slider {
    height: 100%;
    position: relative;
}
.slider-content {
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slider-content h4 {
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
}

.slider-content h4:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #635cdb;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
}
.slider-content h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
}
.box-btn{
    display:inline-block;
    background-color: #635cdb;
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding:5px 20px;
    position: relative;
}
.box-btn i{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right:30px;
    transition:.3s;
    opacity: 0;
}
.box-btn:hover i{
    right: 5px;
    opacity: 1;
}
.box-btn:hover{
    color:red;
}